In [1]:
# creating vector
import numpy as np

# Array and Matrix

In [2]:
x = 1,2,3,4,5
print(x)

(1, 2, 3, 4, 5)

In [4]:
# Predicting the type of array
x=np.array([1,2,3,4,5])
print(type(x))

<class 'numpy.ndarray'>

In [7]:
# Viewing matrix
m=np.array([[1,2,3,
           4,5,6,
           7,8,9]])
print(m)

[[1 2 3 4 5 6 7 8 9]]

In [8]:
# Dimnesion of array
print(m.shape)

(1, 9)

In [10]:
#matrix transpose
print("Matrix Transpose:",m.transpose())

Matrix Transpose: [[1]
 [2]
 [3]
 [4]
 [5]
 [6]
 [7]
 [8]
 [9]]

In [13]:
# matrix determinant
n= ([[1,2,3],
     [4,5,6],
     [7,8,9]])
print("Matrix Determinant",np.linalg.det(n))

Matrix Determinant -9.51619735392994e-16

In [14]:
# Matrix inverse
print("Matrix Inverse", np.linalg.inv(n))

Matrix Inverse [[ 3.15251974e+15 -6.30503948e+15  3.15251974e+15]
 [-6.30503948e+15  1.26100790e+16 -6.30503948e+15]
 [ 3.15251974e+15 -6.30503948e+15  3.15251974e+15]]

In [16]:
#Identity Matrix
m_inv=np.linalg.inv(n)
iden_m=np.dot(n,m_inv)
iden_m=np.round(np.abs(iden_m),0)
print("Identity Matrix",iden_m)

Identity Matrix [[0. 1. 0.]
 [0. 2. 1.]
 [0. 3. 2.]]

# Eigen Decomposition

In [17]:
eigen_vals,eigen_vecs = np.linalg.eig(n)
print("Eigen values", eigen_vals,"\n","Eigen vectors",eigen_vecs)

Eigen values [ 1.61168440e+01 -1.11684397e+00 -9.75918483e-16]
 Eigen vectors [[-0.23197069 -0.78583024  0.40824829]
 [-0.52532209 -0.08675134 -0.81649658]
 [-0.8186735   0.61232756  0.40824829]]

# SVD

In [18]:
U, S, VT = np.linalg.svd(n)
print("U:",U,"\n","S:",S,"\n","VT:",VT)

U: [[-0.21483724  0.88723069  0.40824829]
 [-0.52058739  0.24964395 -0.81649658]
 [-0.82633754 -0.38794278  0.40824829]]
 S: [1.68481034e+01 1.06836951e+00 3.33475287e-16]
 VT: [[-0.47967118 -0.57236779 -0.66506441]
 [-0.77669099 -0.07568647  0.62531805]
 [-0.40824829  0.81649658 -0.40824829]]

# Descriptive Statistics

In [6]:
import scipy as sp
import numpy as np
from scipy import stats
# getting data
num = np.random.randint(1,30,size=(1,10))[0]
print("Data:",num)

Data: [ 8 16 28 18 29 21 27 12 24 25]

In [7]:
# descriptive statistics
print ('Mean:', sp.mean(num))
print ('Median:', sp.median(num))
print ('Mode:', sp.stats.mode(num))
print ('Standard Deviation:', sp.std(num))
print ('Variance:', sp.var(num))
print ('Skew:', sp.stats.skew(num))
print ('Kurtosis:', sp.stats.kurtosis(num))

Mean: 20.8
Median: 22.5
Mode: ModeResult(mode=array([8]), count=array([1]))
Standard Deviation: 6.764613810115105
Variance: 45.760000000000005
Skew: -0.5302428508963293
Kurtosis: -0.968694985084845

In [8]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
df = pd.read_csv('student_records.csv')
df

     Name OverallGrade Obedient  ResearchScore  ProjectScore Recommend
0   Henry            A        Y             90            85       Yes
1    John            C        N             85            51       Yes
2   David            F        N             10            17        No
3  Holmes            B        Y             75            71        No
4  Marvin            E        N             20            30        No
5   Simon            A        Y             92            79       Yes
6  Robert            B        Y             60            59        No
7   Trent            C        Y             75            33        No

# Data Prep

## Data extraction and data engineering

In [10]:
feature_names = ['OverallGrade', 'Obedient', 'ResearchScore', 'ProjectScore']
training_features = df[feature_names]

outcome_name = ['Recommend']
outcome_labels = df[outcome_name]
training_features

  OverallGrade Obedient  ResearchScore  ProjectScore
0            A        Y             90            85
1            C        N             85            51
2            F        N             10            17
3            B        Y             75            71
4            E        N             20            30
5            A        Y             92            79
6            B        Y             60            59
7            C        Y             75            33

In [11]:
# view outcome labels
outcome_labels

  Recommend
0       Yes
1       Yes
2        No
3        No
4        No
5       Yes
6        No
7        No

In [12]:
# list down features based on type
numeric_feature_names = ['ResearchScore', 'ProjectScore']
categoricial_feature_names = ['OverallGrade', 'Obedient']

# Numeric Feature Scaling

In [13]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

# fit scaler on numeric features
ss.fit(training_features[numeric_feature_names])

# scale numeric features now
training_features[numeric_feature_names] = ss.transform(training_features[numeric_feature_names])

# view updated featureset
training_features

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.

  OverallGrade Obedient  ResearchScore  ProjectScore
0            A        Y       0.899583      1.376650
1            C        N       0.730648     -0.091777
2            F        N      -1.803390     -1.560203
3            B        Y       0.392776      0.772004
4            E        N      -1.465519     -0.998746
5            A        Y       0.967158      1.117516
6            B        Y      -0.114032      0.253735
7            C        Y       0.392776     -0.869179

# Engineering Categorical features

In [14]:
training_features = pd.get_dummies(training_features, columns=categoricial_feature_names)
# view newly engineering features
training_features

,ResearchScore,ProjectScore,OverallGrade_A,OverallGrade_B,OverallGrade_C,OverallGrade_E,OverallGrade_F,Obedient_N,Obedient_Y
0,0.899583,1.376650,1,0,0,0,0,0,1
1,0.730648,-0.091777,0,0,1,0,0,1,0
2,-1.803390,-1.560203,0,0,0,0,1,1,0
3,0.392776,0.772004,0,1,0,0,0,0,1
4,-1.465519,-0.998746,0,0,0,1,0,1,0
5,0.967158,1.117516,1,0,0,0,0,0,1
6,-0.114032,0.253735,0,1,0,0,0,0,1
7,0.392776,-0.869179,0,0,1,0,0,0,1